<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dragon</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/layui/css/layui.css">

    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script src="/static/easyui/jquery.easyui.min.js"></script>
    <link rel="stylesheet" href="/static/easyui/themes/default/easyui.css"/>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Dragon</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">商品管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    贤心
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/noauth/logout.html">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li th:each="menu:${menus}" class="layui-nav-item">
                    <a th:unless="${#lists.size(menu.children)}" href="javascript:;" th:text="${menu.text}"></a>
                    <a th:if="${#lists.size(menu.children)}" href="javascript:;" th:text="${menu.text}"></a>
                    <dl th:if="${#lists.size(menu.children)}" class="layui-nav-child">
                        <dd th:each="child:${menu.children}"><a href="javascript:;"
                                                                th:onclick="$('#main-content').load([[${child.menuUrl}]])"
                                                                th:text="${child.text}"></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;" id="main-content">欢迎</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });

    function openPage(url) {
        $("#main-content").load(url)
    }
</script>
</body>

</html>
