<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dragon.mapper.RoleMenuMapper">
    <select id="queryByMenuIds" resultType="com.dragon.model.entity.RoleMenu">
        SELECT role_id,menu_id FROM dragon_role_menu
        <where>
            menu_id IN
            <foreach collection="menus" open="(" close=")" separator="," index="index" item="item">
                #{item.id}
            </foreach>
        </where>
    </select>
</mapper>